/* 
    Document   : main
    Created on : Jul 18, 2013, 11:00:07 PM
    Author     : lusaisai
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.album-image {
    overflow:hidden;
    max-width:620px;
    max-height:400px;
    position:relative;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.album {
    margin-bottom: 60px;
}
